body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
}

header, footer {
    background: #004aad;
    color: white;
    text-align: center;
    padding: 15px;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#quiz {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
}

button {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    background: #004aad;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #003080;
}
